body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto 0 auto;
    background-image: url(../imagens/dia_3d_effect.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    color: #333333;
    transition: 2.5s;
}

body.modo-escuro {
    background-image: url(..//imagens/noite_3d_effect.png);
    color: #f5f5f5;
    transition: 2.5s;

}

header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo,
header .imagem-botao {
    width: 30px;
    transition: 0.2s ease-in-out;
}

header #botao-alterar-tema {
    background: none;
    border: none;
    cursor: none;
}

main .cartao-pokemon:hover {
    transform: scale(1.05);
    cursor: pointer;
}

header .logo:hover,
header .imagem-botao:hover {
    transform: scale(1.5);
    cursor: pointer;
    transition: 0.5s;
}

main {
    padding: 25px;
}

.listagem-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.cartao-pokemon {
    background-color: #d8e3ec85;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover {
    /* background-color: #96d9d6; */
    background-color: #7beee8;

}

.modo-escuro .cartao-pokemon:hover {
    background-color: #09add6;
}

.modo-escuro .cartao-pokemon {
    background-color: #a8a8a850;
}

main .cartao-pokemon .informacoes {
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .cartao-pokemon .informacoes span {
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .cartao-pokemon .gif {
    width: 90px;
    height: 90px;
}

main .cartao-pokemon .tipos {
    display: flex;
    gap: 15px;
}

main .cartao-pokemon .tipo {
    padding: 8px;
    border-radius: 10px;
}

.grama {
    background-color: #7ac74c;
}

.veneno {
    background-color: #df67ddfb;
}

.fogo {
    background-color: #ee8130
}

.agua {
    background-color: #6390f0;
}

.inseto {
    background-color: #51c007
}

main .descricao {
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}

.sites {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 4% 0 4% 8%;
    width: 33%;
    background-color: #d8e3ec4d;
    border-radius: 15px;
    border: solid #f10808;
    transition: 0.5s;
}

.pokebola_aberta {
    width: 30%;
    opacity: 75%;
}

.meus_projetos {
    text-decoration: none;
    text-transform: uppercase;
    background: -webkit-linear-gradient(left, #9adbdf 18%, #d4feff 57%, #FFFFFF 46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    right: 12%;
    font-size: 14px;
    padding: 5% 5% 5% 0;
    transition: 2.5s;

}

.sites:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.modo-escuro .sites {
    background-color: #a8a8a850;

}

.modo-escuro .meus_projetos {
    background: -webkit-linear-gradient(#FFFFFF );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    right: 3%;
    padding: 5% 5% 5% 0;
    transition: 2.5s;
}


@media screen and (max-width: 700px) {
/*     body {
        background-image: url(../imagens/dia_3d_effect.png);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 80cap;
        background-position: top, left;
    } */

    html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
        background-image: url(../imagens/dia_3d_effect.png);
  background-size: cover; /* cobre toda a tela */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll; /* NÃO use fixed em mobile */
    overflow-x: hidden;
}
    
    body.modo-escuro {
        background-image: url(../imagens/noite_3d_effect.png);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 80cap;
        background-position: top left;
    }

    .cartao-pokemon {
        width: 45%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    main .cartao-pokemon .informacoes span {
        padding: 5px;
        text-transform: uppercase;
        font-size: 0.7rem;
    }

    main .cartao-pokemon .gif {
        width: 50%;
        height: 50%;
    }

    main .cartao-pokemon .tipos {
        display: flex;
        gap: 12%;
        justify-content: center;
        font-size: 0.7rem;
        width: 42%;

    }

}
