.projetos {
    padding: 5%;
    margin: 0 25%;
    display: grid;
    position: relative;
    isolation: isolate;
}

.projetos::after {
    content:'';
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: .5;

        background-image: url(../imagens/FundoLiP+Pokemon.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border-radius: 12px;
    border: solid red;
}

ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: disc;
    padding-left: 15%;
    gap: 5rem;
}

.meus__projetos {
    color: blue;
    font-weight: 300;
}
